body{

font-family:Arial;

background:linear-gradient(
135deg,
#0077C8,
#00A86B
);

height:100vh;

display:flex;

align-items:center;

justify-content:center;

}



.box{

background:white;

padding:30px;

border-radius:20px;

width:90%;

max-width:380px;

text-align:center;

}



h1 span{

color:#00A86B;

}



input{

width:100%;

padding:14px;

margin:8px 0;

border-radius:10px;

border:1px solid #ddd;

box-sizing:border-box;

}



button{

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:#0077C8;

color:white;

font-size:16px;

cursor:pointer;

}

